---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="¿Qué coño es esto?" description="">
  <p>
    Supongo que me aburría lo suficiente como para crear esto. Si has llegado
    hasta aquí supongo que te mola la turra que doy 24/7. Deberías contárselo a
    alguien. En serio.
  </p>
  <b>¿Qué vas a encontrar aquí?</b>
  <ol>
    <li>
      Cosas random que se me vayan ocurriendo y vaya publicando en el <a
        href="blog">blog</a
      >
    </li>
    <li>Promo de las cosillas que vaya haciendo</li>
    <li>Reviews de las cosas que vaya viendo</li>
    <li>
      Algo con lo que matar tus ratos muertos, que se ve que tienes muchos
    </li>
    <li>
      La contraseña del Wi-Fi de mi vecino <code>KJHF78SHHHJKSAY7!SJGHS@</code>
    </li>
  </ol>

  <b>¿Qué NO vas a encontrar aquí?</b>
  <ol>
    <li>El Arca Perdida</li>
    <li>La realización personal</li>
    <li>
      El calcetín ese que perdiste dejando desparejado a ese pobre calcetín que
      te mira con lástima desde aquella fatídica tarde de domingo en la que por
      fin te atreviste a poner una lavadora
    </li>
    <li>Nada de provecho</li>
  </ol>
</Layout>
