---
import Layout from "../layouts/BlogPost.astro";
---

<p>
  Me apetecía tener una newsletter o algo, pero no tengo la constancia
  suficiente, así que de vez en cuando subiré alguna mierda por aquí.
</p>
<p>Puedes seguirme en todas las redes</p>
<ul>
  <li>
    <a href="https://x.com/_inixio_" target="_blank">Twitter</a> (antiguamente X)
  </li>
  <li>
    <a href="https://instagram.com/_inixio_" target="_blank">Instagram</a>
  </li>
  <li>
    <a href="https://bsky.app/profile/inixio.bsky.social" target="_blank"
      >BlueSky</a
    >
  </li>
  <li>
    <a href="https://www.tiktok.com/@_inixio_?lang=es" target="_blank">TikTok</a
    >
  </li>
</ul>
