---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Show {
  name: string;
  message: string;
  link: string;
}

const spam: Show = {
  name: "🫰",
  message: "¡Eh! Pilla entradas para el próximo 🫰",
  link: "https://entradium.com/es/events/3-el-open-de-propon-noche-de-monologos",
};
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3N5H81Y471"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3N5H81Y471");
    </script>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    {
      spam && (
        <div class="spam-container">
          <a href={spam.link} target="_blank" class="spam">
            {spam.message}
          </a>
        </div>
      )
    }
    <main>
      <p>
        Supongo que me aburría lo suficiente como para crear esto. Si has
        llegado hasta aquí supongo que te mola la turra que doy 24/7. Deberías
        contárselo a alguien. En serio.
      </p>
      <b>¿Qué vas a encontrar aquí?</b>
      <ul>
        <li>
          Cosas random que se me vayan ocurriendo y vaya publicando en el <a
            href="blog">blog</a
          >
        </li>
        <li>Promo de las cosillas que vaya haciendo</li>
        <li>Reviews de las cosas que vaya viendo</li>
        <li>
          Algo con lo que matar tus ratos muertos, que se ve que tienes muchos
        </li>
        <li>
          La contraseña del Wi-Fi de mi vecino <code
            >KJHF78SHHHJKSAY7!SJGHS@</code
          >
        </li>
      </ul>

      <b>¿Qué NO vas a encontrar aquí?</b>
      <ul>
        <li>El Arca Perdida</li>
        <li>La realización personal</li>
        <li>
          El calcetín ese que perdiste dejando desparejado a ese pobre calcetín
          que te mira con lástima desde aquella fatídica tarde de domingo en la
          que por fin te atreviste a poner una lavadora
        </li>
        <li>Nada de provecho</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
